.right {
	width: 550px;
	margin-left: 100px;
}

.Ipsum {
	width: 200px;
	width: 368px;
	height: 40px;
	left: 136px;
	top: 2560px;

	font-family: "Arial";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
}

.Faq {
	margin-left: -200;
	height: 36px;
	left: 9.44%;
	right: 65%;
	top: 2508px;

	font-family: "Arial";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
}
