.Sewa {
	width: 568px;
	height: 108px;
	left: 136px;
	top: 177px;

	font-family: "Arial";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 150%;
}

.Selamat {
	width: 468px;
	height: 60px;
	left: 136px;
	top: 301px;

	font-family: "Arial";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
}

.Mercy {
	width: 704px;
	height: 407px;
	margin-left: 1440px;
	margin-top: 97px;
}

.gambar {
	width: 800px;
	border-color: blue;
	border: 1px, solid, blue;
}
