.Sewa {
	margin-top: 140px;

	font-family: "Arial";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 150%;
}

.Selamat {
	width: 50%;
	height: 60px;
	margin-left: 100px;
	margin-top: 30px;

	font-family: "Arial";
	font-style: normal;
	font-weight: 700;
	font-size: 1rem;
	line-height: 20px;
}

.Tombol {
	margin-left: 100px;
	margin-top: 70px;
}
.Mercy {
	width: 50%;
	height: 407px;
	margin-left: 1440px;
	margin-top: 97px;
}

.kiri {
	width: 50%;
}

.Hero {
	background: #f1f3ff;
	width: 100%;
}

.Kanan img {
	margin-top: 200px;
	width: auto;
}
